<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/vue/vue.min.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<div id="wrap">
    <a href="/review">리뷰작성</a>
    <ul>
        <li v-for="l in list" @click="click(l)">
          <div><img :src="l.coverUrl" :alt="l.title" width="100px"> {{ l.title }} / {{ l.author }}</div>
          <div>{{ l.content }}</div> <br>
          <h3>{{ l.writerName }}</h3> <div>[{{l.commentCount}}]</div> 
        </li>
    </ul>
    <div id="detail" v-if="detail">
      <button @click="close">닫기</button> <br>
      {{ detail }} 
      <br>
      <div>
        <input type="text" v-model="newComment">
        <button @click="addComment">등록</button>
      </div>        
      
      <li v-for="c in comment">
        {{ c.writerName }} - {{ c.comment }}
      </li>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
  var _l = /*[[ ${list} ]]*/{};


  var wrap = new Vue({
    el: "#wrap",
    data: function () {
      return {
        list: _l,
        detail: {},
        comment: [],
        newComment: "",
      }
    },
    methods: {
      close: function () {
        this.detail = null
        this.comment = []
      },
      click: function (l) {
        this.detail = l
        $.get(`/api/comment/${l.id}`, this.receiveComment)
      },
      receiveComment: function (data) {
        this.comment = data.data.list
      },
      addComment: function () {
        const url = `/api/comment/${this.detail.id}`
        const body = { comment: this.newComment }
        $.post(url, body, this.receiveComment)
      },
    }
  })
</script>
</body>
</html>